*{
    background-image: url("https://wallpaperaccess.com/full/3548820.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    justify-items: center;
}
    
 

h1{
    font-size: 30px;
    font-style: inherit;
    font-size: 50px;
    color: rgb(197, 245, 6);
    text-decoration: underline;
    text-align: center;
    text-decoration-color: rgb(6, 18, 237);
    background-color: rgb(134, 20, 240);
    display: inline;
}
span{
    display: block;
}
.parent{
  
    font-size: 30px;
    color: chocolate;
    justify-content: center;
    justify-items: center;
    margin:10px;
    
}
#one{
    padding: 10px;
    padding-bottom: 20%;
}


